# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\iws-data-mart-service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
